---
import Base from '../../layouts/Base.astro';
import curation from '../../../data/curation.json';

const sorted = [...curation].sort((a, b) => new Date(b.date) - new Date(a.date));

---
<Base title="curation" activePage="curation">
  {sorted.map(item => (
    <div class="curation-item">
      <div class="curation-title-row">
        <span class="curation-type">{item.type}</span>
        <span class="curation-title">{item.title}</span>
      </div>
      <div class="curation-meta">{item.date_label}, {item.note}</div>
    </div>
  ))}
</Base>
