---
import Base from '../../layouts/Base.astro';
import photos from '../../../data/photos.json';

const sorted = [...photos].sort((a, b) => new Date(b.date) - new Date(a.date));
---
<Base title="creatives" activePage="creatives">
  <div class="creatives-grid">
    {sorted.map(photo => (
      <a href={`/creatives/${photo.slug}`}>
        <img src={photo.image} alt={photo.location} />
      </a>
    ))}
  </div>
</Base>
